body {
  background-image: url("/c3.png");
  font-family: 'Abel', sans-serif;
  background-size: cover;
  
}

.baby {
  color: #FFFFFF;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  font-family: 'Abel', sans-serif;
  font-style: normal;
}

.app-container {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}

a {
  color: #FFFFFF
}

a:hover {
  color: rgb(247, 100, 41);
}

a:active {
  color: blue;
}

.logForm {
  color:white;
  display: inline-block;
  margin: 20px 0px 20px 0px;
  display:flex;
  box-sizing: border-box;
  padding: 16px 20px;
  background-color: rgba(0, 0, 0, 0.507);
  display: block;
  text-align: center;
  position: fixed; 
  }

  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

.logForm2 {
display: inline-block;
color: white;
margin: 20px 0px 20px 0px;
display:flex;
box-sizing: border-box;
padding: 16px 20px;
background-color: rgba(0, 0, 0, 0.507);
display: block;
text-align: center;
position: fixed; 
}

.box1 {
width:300px;
margin: 0 auto 0 auto;
padding:0px 0px 70px 0px;
}

.box2 {
width:300px;
margin: 0 auto 0 auto;
padding:0px 0px 70px 0px;
 }

 .appName {
   color: white;
   text-align: center;
   font-size: 100px;
   animation: fadeInAnimation ease 3s ;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
} 
  
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
 }